.container{
    width: 80%;
    text-align: center;
    margin-left: 10%;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    font-size: 70px;
    font-weight: bold;
}

p{
    font-size: 20px;
}

body{
    background-color: hotpink;
}